@tailwind components;
@tailwind utilities;

@layer components {
  .btn-primary {
    html[data-mode='light'] &,
    html:not([data-mode='dark']) & {
      @apply bg-primary text-white;

      &:hover {
        background-color: hsl(var(--p) / 0.9);
      }
    }

    html[data-mode='dark'] &,
    [data-mode='dark'] & {
      @apply bg-base-content text-base-100;

      &:hover {
        background-color: hsl(var(--bc) / 0.9);
      }
    }
  }

  .btn-accent {
    @apply bg-accent-80 text-base-100;

    &:hover {
      background-color: hsl(var(--a) / 0.9);
    }
  }

  .btn.btn-stroke {
    @apply border-2 bg-transparent;

    &.btn-primary {
      @apply border-primary bg-transparent text-primary;

      &:hover {
        background-color: hsl(var(--p) / 0.1);
      }

      html[data-mode='dark'] &,
      [data-mode='dark'] & {
        @apply border-base-content text-base-content;

        &:hover {
          background-color: hsl(var(--bc) / 0.1);
        }
      }
    }

    &.btn-secondary {
      html[data-mode='light'] &,
      html:not([data-mode='dark']) & {
        @apply border-secondary bg-transparent text-primary;

        &:hover {
          @apply bg-secondary;
        }
      }

      html[data-mode='dark'] &,
      [data-mode='dark'] & {
        @apply border-secondary bg-transparent text-secondary;

        &:hover {
          background-color: hsl(var(--s) / 0.1);
        }
      }
    }

    &.btn-accent {
      @apply border-accent-80 text-accent-80 bg-transparent;

      &:hover {
        background-color: hsl(var(--a) / 0.1);
      }
    }

    &.btn-neutral {
      @apply border-neutral bg-transparent text-neutral;

      &:hover {
        @apply bg-neutral text-neutral-content;
      }

      html[data-mode='dark'] &,
      [data-mode='dark'] & {
        @apply border-base-content text-base-content;

        &:hover {
          @apply bg-base-content text-base-100;
        }
      }
    }

    &:disabled {
      @apply cursor-not-allowed opacity-50;
    }
  }

  .btn-flat {
    @apply border-0 bg-transparent shadow-none;

    &.btn-primary {
      @apply bg-transparent text-primary;

      &:hover {
        background-color: hsl(var(--p) / 0.1);
      }

      html[data-mode='dark'] &,
      [data-mode='dark'] & {
        @apply text-base-content;
      }
    }

    &.btn-secondary {
      @apply bg-transparent text-secondary;

      &:hover {
        background-color: hsl(var(--s) / 0.1);
      }

      html[data-mode='dark'] &,
      [data-mode='dark'] & {
        @apply text-base-content;
      }
    }

    &.btn-accent {
      @apply text-accent-80 bg-transparent;

      &:hover {
        background-color: hsl(var(--a) / 0.1);
      }
    }

    &.btn-neutral {
      @apply bg-transparent text-neutral;

      &:hover {
        background-color: hsl(var(--n) / 0.1);
      }

      html[data-mode='dark'] &,
      [data-mode='dark'] & {
        @apply text-base-content;
      }
    }

    &:disabled {
      @apply cursor-not-allowed opacity-50;
    }
  }
}
